#brand-argen,
#brand-top {
    font-size: 1.2rem;
    font-weight: bold;
}

#brand-argen {
    color: #00bfff; /* Color blanco */
}

#brand-top {
    color: white; /* Color celeste */
}

.places-h5 {
    font-weight: 300;
}
